/* ---- Base Rules ---- */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background: rgb(136, 203, 171);
  background: linear-gradient(
    0deg,
    rgba(136, 203, 171, 1) 0%,
    rgba(0, 13, 60, 1) 100%
  );
  font-family: 'Open Sans', Sans-serif;
  color: #fff;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 1400px) {
  body .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1600px) {
  body > .container {
    max-width: 1400px;
  }
}
@media screen and (min-width: 1900px) {
  body > .container {
    max-width: 1700px;
  }
}

/* Typography General*/

h1 {
  font-family: 'Roboto', Sans-serif;
  text-align: center;
  font-size: 6em;
  padding: 1em;
  color: #333;
}

h2 {
  border-bottom: 1px solid #cc1;
  font-family: 'Oxygen', Sans-Serif;
  font-size: 3em;
  color: #fff;
  opacity: 0.5;
}

p {
  line-height: 1.6em;
  color: #eee;
}

/* ---- Layout Rules ---- */
main {
  margin: 0 auto;
}

section {
  position: relative;
  min-height: 80vh;
}

section:first-of-type {
  margin-top: 6vh;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/
/* navbar menu is the flexbox container for navbar__list and search-box */
.navbar__menu {
  display: flex;
  justify-content: space-between;
}

.navbar__menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin: 0;
  text-align: right;
}

.navbar__menu li {
  display: inline-block;
}

.navbar__menu a {
  text-decoration: none;
  color: #333;
}

.navbar__menu hr {
  border-top: 1px solid #333;
  height: 0.8em;
  margin: 0.5em;
}

.navbar__menu hr:last-of-type {
  visibility: hidden;
}

.navbar__menu .menu__link {
  display: block;
  padding: 0.8em;
}

.navbar__menu .menu__link:hover {
  background: #333;
  opacity: 0.9;
  transition: ease 0.3s all;
}

.menu__link:hover > a {
  color: #eee;
  transition: ease 0.3s all;
}

/* search-box is the flexbox container for the input and the button */
.navbar__menu .search-box {
  display: flex;
  border-radius: 4px;
  align-items: center;
  margin-right: 3rem;
}

.navbar__menu .search-box__input {
  height: 1.2rem;
  outline: 0;
  color: #c0c0c0;
  border: 2px solid #c0c0c0;
  border-right: none;
  border-radius: 4px 0 0 4px;
  padding: 0.2rem;
}

.navbar__menu .search-box__input:focus {
  color: #0c4050;
}

.navbar__menu .search-box__button {
  display: flex;
  height: 1.8rem;
  background: #0c4050;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  border: 1px solid #0c4050;
  border-radius: 0 4px 4px 0;
  padding: 0.4rem;
}

.menu-btn {
  display: none;
}

@media (max-width: 768px) {
  header.page__header {
    width: 100%;
    opacity: 0.8;
  }

  hr {
    display: none;
  }

  .menu-btn {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 0.5em 1em 0 0;
    padding: 0.4em;
    width: 40px;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #eee;
    z-index: 1;
    opacity: 0.9;
    box-shadow: 0 0 2px 2px gray;
  }

  .menu-btn:hover {
    background-color: honeydew;
    transition: 0.4s ease;
    cursor: pointer;
    opacity: 0.6;
    color: #eee;
    background-color: #333;
    outline: 0;
    border: 1px solid gray;
  }

  .menu-btn:focus {
    outline: 0;
  }

  .navbar__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 55vh;
    background: #f2f2f2;
    border-right: 1px solid #ccc;
    opacity: 0.9;
    padding: 30px;

    transition: transform 0.5s ease-in-out;
  }

  .navbar__menu.show {
    display: block;
    transition: transform 0.5s ease-in-out;
  }

  .navbar__menu.show ul {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vh;
    background: #f2f2f2;
    opacity: 0.9;
    padding: 30px;
  }

  .navbar__menu ul li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
    margin-right: 8rem;
  }

  .navbar__menu li:first-of-type {
    display: none;
  }
  .navbar__menu li:last-of-type {
    border-bottom: 0;
  }

  .navbar__menu.show .search-box {
    display: block;
    position: absolute;
    top: 47vh;
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .navbar__menu .search-box {
    display: flex;
    border-radius: 4px;
    align-items: center;
    min-width: 4rem;
  }
}
/* Header Styles */
.page__header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 2px 4px rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  z-index: 5;
  transition: opacity 0.5s ease-in-out;
}

.page__header.hidden {
  transition: 0.5s ease-in-out;
  opacity: 0;
}

/*=============*/
/* Main styles */
/*=============*/

.buttonTop {
  height: 1.5em;
  width: 1.5em;
  position: fixed;
  top: 90vh;
  left: 95vw;
  border-radius: 4px;
  color: #0c4050;
  background: #eee;
  font-size: 1rem;
  padding: 0.2rem;
  box-shadow: 0px 4px 8px rgba(100, 100, 100, 0.8);
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}

.main__hero {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  text-align: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('/img/hero-image.png');

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main__hero h1 {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0c4050, 5px 5px 20px #0c4050;
  font-size: 6rem;
  opacity: 0.6;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .buttonTop {
    left: 88vw;
  }

  .main__hero h1 {
    padding-top: 1em;
    font-size: 3rem;
  }

  .content p {
    padding: 1em;
    font-size: 0.7rem;
  }

  footer {
    font-size: 0.7rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main__text {
    padding-top: 3em;
    font-size: 5rem;
  }

  .content p {
    padding: 1em;
    font-size: 0.7rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main__text {
    padding-top: 2em;
    font-size: 5em;
  }

  .content p {
    font-size: 0.8rem;
  }

  footer {
    font-size: 0.7rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main__text {
    padding-top: 2em;
    font-size: 7rem;
  }
}

.buttonTop.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Footer Styles */
.page__footer {
  background: #0c4050;
  padding: 1em;
  color: #fff;
}

.page__footer p {
  color: #fff;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
  padding: 2em;
  text-align: left;
}

@media (max-width: 768px) {
  .landing__container {
    max-width: 100%;
    padding: 1.5em;
  }
}

@media only screen and (min-width: 35em) {
  .landing__container {
    max-width: 100%;
    padding: 8em;
  }
}

section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

/* Background Circles */
/* Note that background circles are created with pseudo elements before and after */
/* Circles appear to be random due to the use of :nth-of-type pseudo class */
section:nth-of-type(odd) .landing__container::before {
  content: '';
  background: rgba(255, 255, 255, 0.187);
  position: absolute;
  z-index: -5;
  width: 12vh;
  height: 12vh;
  left: 8vw;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
  content: '';
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  top: 10vh;
  right: 10vw;
  z-index: -5;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(odd) .landing__container::after {
  content: '';
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  left: 14vw;
  top: 10vh;
  z-index: -5;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::after {
  content: '';
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 15vw;
  top: 6vh;
  z-index: -5;
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class (active) class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.active {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

section.active h2 {
  transition: 0.5s ease;
  border-bottom: 1px solid #cc1;
  opacity: 1;
}

section.active .landing__container::before {
  opacity: 1;
  animation: rotate 4s linear 0s infinite forwards;
}

section.active .landing__container::after {
  opacity: 1;
  animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg) translate(-1em) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-1em) rotate(-360deg);
  }
}
